<h1><%= @user.email %>'s Profile</h1>

<h2>Upcoming Events Created</h2>
<ul>
  <% @user.created_events.select { |e| e.date && e.date >= Time.now }.each do |event| %>
    <li><%= link_to event.title, event_path(event) %> - <%= event.date.strftime("%B %d, %Y %l:%M %p") %></li>
  <% end %>
</ul>

<h2>Past Events Created</h2>
<ul>
  <% @user.created_events.select { |e| e.date && e.date < Time.now }.each do |event| %>
    <li><%= link_to event.title, event_path(event) %> - <%= event.date.strftime("%B %d, %Y %l:%M %p") %></li>
  <% end %>
</ul>
