<h1>Upcoming Events</h1>
<% @upcoming_events.each do |event| %>
  <%= link_to event.title, event_path(event) %> - <%= event.date %><br>
<% end %>

<h1>Past Events</h1>
<% @past_events.each do |event| %>
  <%= link_to event.title, event_path(event) %> - <%= event.date %><br>
<% end %>

<%= link_to "New Event", new_event_path if user_signed_in? %>
